body {
  margin: 0;
  background: #2a0032;
  font-family: 'Courier New', monospace;
  color: #f0f0f0;
}

header {
  text-align: center;
  padding: 40px 20px 10px;
  background: #2a0032;
}

h1 {
  font-size: 3rem;
  color: #ff00cc;
  text-shadow: 0 0 5px #ff00cc;
}

h2 {
  font-size: 2rem;
  color: #ffadef;
  margin-top: 10px;
}

.tagline {
  color: #ccc;
  margin-top: 5px;
  font-size: 1rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;

}

/* Card styles */
.card {
  background-image: url('documentación_eje/fondos/fondo1_web8.png');
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px #ff00cc33;
  transition: transform 0.3s;
  font-size: 16px;
}

.card h2 {
  color: #ffadef;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Card hover effect: uplift */
.card:hover {
  transform: translateY(-5px);
}

.card p {
  margin: 0;
}

.card img {
  width: 100%;
  border-radius: 8px;
  filter: drop-shadow(0 0 4px #ff00cc);
}

.quote {
  font-style: italic;
  font-size: 1.1rem;
  color: #ffadef;
  background: rgba(42, 0, 50, 0.8);
}

.quote span {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ffffff;
}

/* Video styles */
video {
  max-width: 101%;
  border-radius: 8px;
  box-shadow: 0 0 10px #ff00cc33;
  margin-top: 10px;
  display: block;
  background: #000;
  border: 2px solid #ff00cc;
}

/* Audio player styles */
audio {
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  background: rgba(42, 0, 50, 0.8);
  padding: 5px;
  box-shadow: 0 0 10px #ff00cc33;
}


footer {
  text-align: center;
  padding: 20px;
  background: #2a0032;
  font-size: 0.8rem;
  color: #aaa;
}
